<p style="color: green"><%= notice %></p>

<h1><%= MiningType.model_name.human(count: @mining_types.size) %></h1>

<div id="mining_types">
  <table class='table table-hover'>
    <thead>
      <tr>
        <td><%= @mining_types.human_attribute_name(:description) %></td>
        <td><%= @mining_types.human_attribute_name(:acronym) %></td>
      </tr>
    </thead>
    <tbody>
      <% @mining_types.each do |mining_type| %>
        <tr>
          <td><%= mining_type.description %></td>
          <td><%= mining_type.acronym %></td>
          <td><%= link_to t('links.show'), mining_type %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to t('new.mining_type'), new_mining_type_path, class: 'btn btn-primary' %>
<%= link_to t('links.back'), root_path, class: 'btn btn-primary' %>
