<!DOCTYPE html>
<html>
  <head>
    <title>Modulo02CryptoWallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag params[:controller], "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags params[:controller] %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class='container-fluid'>
      <ul class="nav justify-content-end">
        <li class='nav-item'>
          <%= link_to t('links.home'), root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('languages.portuguese'), request.path << '?locale=pt-BR', class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('languages.english'), request.path << '?locale=en', class: 'nav-link' %>
        </li>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
